.newsletter {
    background-color: black;
    padding: 16px;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    display: block;
    width: 90%;
}

.newsletter:hover { 
    background-color: white;
    color: black; 
    transition: 1s;
}

.ins {
    color: black;
}

.you {
    color: black;
}