@import url('banner.css');
@import url('buttons.css');
@import url('cards.css');
@import url('footer.css');


body {
	background-image: url('../image/fond2.jpg');
	margin: 0;
}

a {
	text-decoration: none;
}



.container {
width: 80%;
margin: 0 auto ;
}